/*
 * Example CSS for Harvie's JuKe!Box
 */

body {
	background-color: black;
	color: lightblue;
	font-family: monospace;
	margin: 5px;
	background-image: url(corner.gif);
	background-repeat: no-repeat;
}

a {
	color: white;
}

h1 {
	color: white;
	margin: 25px 0px 0px 25px;
}

a h1 {
	text-decoration: underline;
}

input {
	border: 1px solid lightblue;
}

table * {
	background-color: darkblue;
	color: white;
}

table {
	border: 0px solid blue;
	background-color: black;
}

td {
	border: 0px solid blue;
	margin: 0px;
}

.odd * {
	background-color: darkblue;
}

.even * {
	background-color: #000044;
}

*.red {
	color: red;
}

*.yellow {
	color: yellow;
}
