/*
 * Example CSS for Harvie's JuKe!Box
 */

* {	border-radius:6px; -moz-border-radius:5px; } 

body {
	color: lightblue;
	font-family: monospace;

	margin: 5px;
	background-color: black;
	background-image: url(corner.gif);
	background-repeat: no-repeat;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	color: white;
	margin: 15px 0 0 20px;
}

input {
	border: 1px solid lightblue;
}

table * {
	background-color: darkblue;
	color: white;
}

table {
	border: 0px solid blue;
	background-color: black;
}

td {
	border: 0px solid blue;
	margin: 0px;
	padding-left: 3px;
}

.odd * {
	background-color: darkblue;
}

.even * {
	background-color: #000044;
}

.blank {
	margin: 0;
	padding: 0;
	background-image: none;
	color: white;
	background-color: #000099;
}

.directory {
	font-weight: bolder;
}


/* Hovers */

a:hover, a:hover * { text-decoration: underline; }

/*tr:hover, tr:hover * { */
tr, .odd:hover, .odd:hover *,
.even:hover, .even:hover * {
	background-color: black;
}

tr:hover * a {	text-decoration: underline;}

:invalid { 	background-color: pink; }
:focus { 	border-color:yellow; }

/* Helpful Classes */

*.hide {	margin:0; padding:0; width:0; height:0; border:none; display:none; }
*.red {		color: red; }
*.yellow {	color: yellow;}
*.blue {	color: blue;}
*.green {	color: green;}
*.white {	color: white;}

/* Icon Classes */

*.icon {
	display:inline-block; width:16px; height:16px;
	margin:0; padding:0; overflow:hidden; 
	text-decoration: none; text-indent: 99999px;
	background-repeat:no-repeat; 
}

.btntd { min-width:75px; }

*.iplay		{ background-image: url(icons/playlist.png); }
*.irplay	{ background-image: url(icons/recursive.png); }
*.ifplay	{ background-image: url(icons/play.png); }
*.ifstop	{ background-image: url(icons/stop.png); }
*.ifolder	{ background-image: url(icons/folder.png); margin-right: 3px; }
*.ilogout	{ background-image: url(icons/logout.png); }
*.isearch	{ background-image: url(icons/search.png); }
*.ihome		{ background-image: url(icons/home.png); }
*.iback		{ background-image: url(icons/back.png); }
*.ihelp		{ background-image: url(icons/help.png); }

*/
